
<h1>Favourites</h1>
<!--<p>This page is only visible to signed in users. Edit it at: <em>views/pages/inside.html.erb</em></p>-->
<!--<p>You can change the page users see after successfully signing in within the method <em>after_sign_in_path_for</em> inside <strong>application_controller.rb</strong></p>-->

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">

          <table class="table">
            <thead>
            <tr>
              <th>
                Source
              </th>
              <th>
                Title
              </th>
              <th>
                Description
              </th>
              <th>
                Author
              </th>
              <th>
                Date Saved
              </th>
            </tr>
            </thead>
            <tbody>
          <% @articles.each do |article| %>
            <tr class="active">
              <td>
                <% if article.source == "ruby-flow" %>
                   <%= image_tag 'rubylogo.png', class: 'icon' %>
                <% elsif article.source == "hacker-news" %>
                   <%= image_tag 'hackernews.ico', class: 'icon' %>
                <% else %>
                   <%= image_tag 'thoughtbot.png', class: 'icon' %>
                <% end %>
              </td>
              <td>
                <a href="<%=article.article_link%>">
                  <%= article.title %>
                </a>
              </td>
              <td>
                <% if article.description.present? %>
                  <%= article.description %>
                <% else %>
                  No description available... 
                <% end %>
              </td>
              <td>
                <a href="<%=article.author_link%>">
                  <%= article.author %>
                </a>
              </td>
              <td>
                <%= article.created_at.strftime("%b %d, %Y") %>
              </td>
            </tr>
          <% end %>
            </tbody>
          </table>

    </div>
  </div>
</div>