
<a class="carousel-control left" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>
<div class="container">
  <div class="row clearfix">
    <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-interval=false data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="col-md-4 column">
              <h2 class="text-center">Ruby Flow <%= image_tag "rubylogo.png", class: "icon" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @rf.each do |post| %>
                      <blockquote class="block" data-source="ruby-flow">
                        <h3 class="text-left">
                          <a href = "<%= post["links"]["href"] %>" target="_blank" class="title" >
                            <%= post["title"]["text"] %>
                          </a>
                        </h3>
                        <p class="text-left">
                          <a href = "<%= post["links"]["href"] %>" target="_blank" class="description" >
                            <%= post["description"]["text"] %>
                          </a>
                        </p>
                        <p>
                          <a href = <%= post["author"]["href"] %> target="_blank" class="author"  >
                            <%= post["author"]["text"] %>
                          </a>
                        </p>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>

                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-4 column">
              <h2 class="text-center"> Hacker News <%= image_tag "hackernews.ico", class: "icon" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @hn.each do |post| %>
                      <blockquote class="block" data-source="hacker-news">
                        <h3 class="text-left">
                          <a href = <%= post["title"]["href"]%> target="_blank" class="title" >
                            <%= post["title"]["text"] %>
                          </a>
                        </h3>
                        <p class="text-left">
                          Posted by: <a href = <%= post["author"]["href"] %> target="_blank" class="author"  >
                          <%= post["author"]["text"] %>
                        </a> //
                          <a href = <%= post["time_ago"]["href"] %> target="_blank"  >
                            <%= post["time_ago"]["text"] %>
                          </a> //
                          <a href = <%= post["comments"]["href"] %> target="_blank"  >
                            <%= post["comments"]["text"] %>
                          </a>
                        </p>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>

                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-4 column">
              <h2 class="text-center"> Thought Bot <%= image_tag "thoughtbot.png", class: "icon" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @tb.each do |post| %>
                      <blockquote class="block" data-source="thought-bot" >
                        <h3 class="text-left">
                          <a href = <%= post["title"]["href"] %> target="_blank" class="title" data-source="thought-bot" >
                            <%= post["title"]["text"] %>
                          </a>
                        </h3>
                        <p class="text-left">
                          <a href = <%= post["description"]["href"] %> target="_blank" class="description"  >
                            <%= post["description"]["text"] %>
                          </a>
                          <a href = <%= post["Author"]["href"] %> target="_blank" class="author"  >
                            <%= post["Author"]["text"] %>
                          </a>
                        </p>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>

                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="col-md-4 column">
              <h2 class="text-center"> /r/rails <%= image_tag "reddit.png", class: "icon" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @rd.each do |post| %>
                      <blockquote class="block" data-source="reddit" >
                        <h3 class="text-left">
                          <a href = <%= post["title"]["href"] %> target="_blank" class="title" data-source="reddit" >
                            <%= post["title"]["text"] %>
                          </a>
                        </h3>
                        <p class="text-left">
                          <a href = <%= post["comments"]["href"] %> target="_blank" class="description"  >
                            <%= post["comments"]["text"] %>
                          </a>
                          by:
                          <a href = <%= post["author"]["href"] %> target="_blank" class="author"  >
                            <%= post["author"]["text"] %>
                          </a>
                        </p>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>
                  <% end %>
                </div>
              </div>
          </div>
            <div class="col-md-4 column">
              <h2 class="text-center"> TechCrunch <%= image_tag "techcrunch.png", class: "icon" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @tc.each do |post| %>
                      <blockquote class="block" data-source="tech-crunch" >
                        <h3 class="text-left">
                          <a href = <%= post["title"]["href"] %> target="_blank" class="title" data-source="tech-crunch" >
                            <%= post["title"]["text"] %>
                          </a>
                        </h3>
                        <p class="text-left">
                          <a href = <%= post["description"]["href"] %> target="_blank" class="description"  >
                            <%= post["description"]["text"] %>
                          </a>
                          by:
                          <a href = <%= post["author"]["href"] %> target="_blank" class="author"  >
                            <%= post["author"]["text"] %>
                          </a>
                        </p>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-4 column">
              <h2 class="text-center"> <%= image_tag "rubycorner.png", class: "icon-ruby" %> </h2>
              <div class="panel panel-default">
                <div class="panel-body">
                  <% @rc.each do |post| %>
                      <blockquote class="block" data-source="ruby-corner" >
                        <% if post["author"]["href"].present? && post["title"]["href"].present? %>
                        <h3 class="text-left">
                          <a href = <%= post["title"]["href"] %> target="_blank" class="title" data-source="ruby-corner" >
                            <%= post["title"]["text"]%>
                          </a>
                          <% elsif post["author"]["href"].present? && !post["title"]["href"].present? %>
                          <a href = <%= post["author"]["href"] %> target="_blank" class="title" data-source="ruby-corner" >
                            <%= post["author"]["text"]%>
                          </a>
                          <% else %>
                          <a href = <%= post["title"]["href"] %> target="_blank" class="title" data-source="ruby-corner" >
                            <%= post["title"]["text"]%>
                          </a>
                        </h3>
                          <% end %>
                          <% if post["author"]["href"].present? && post["title"]["href"].present? %>
                            <p class="text-left">
                              <a href = <%= post["author"]["href"] %> target="_blank" class="description"  >
                                <%= post["author"]["text"] %>
                              </a>
                            </p>
                            <% else %>
                            <h3 class="text-left">
                              <a href = <%= post["author"]["href"] %> target="_blank" class="description"  >
                                <%= post["author"]["text"] %>
                              </a>
                            </h3>
                          <% end %>
                        <% if current_user.present? %>
                        <button type="button" class="btn btn-xs favourite">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Favorite This!
                        </button>
                        <% end %>
                      </blockquote>
                  <% end %>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>